

<% if( Closer.Controllers.Page.Login.checkPermission('reassign') ) { %>
<span class="reassignEnquiry">
	<a href="" class="reassignButton"><img class="gwt-Image" title="Reassign Enquiries" alt="Reassign Enquiries" src="/images/reassign.png"></a>
</span>
<% } %>

<table cellpadding="0" cellspacing="0" class="singleEnquiryDisplay">
	<tr>
		<th class="customerProgressSpacer">&nbsp;</th>
		<th>Customer</th>
		<th>Queue</th>
		<th>Age</th>
		<th>Progress</th>
		<th>&nbsp;</th>
	</tr>
	<tr<% if(enquiry.priority){ %> class="priority"<%}%>>
		<td class='customerProgressIcon'><span class=""></span></td>
		<td><%= enquiry.getCustomerEmail() %></td>
		<td><%= enquiry.getQueueName() %></td>
		<td><%= enquiry.getAge() %></td>
		<td>

			<% if( myEnquiry ){ %>
			<select name="enquiryProgress" class="enquiryProgress">
			</select>
			<%} else { %>
			<%=enquiry.getState().name%>
			<% } %>
		</td>
		<td>

			<!-- <button type="button" class="reassignButton">Re-assign</button> -->
			<%  if( enquiry.getState().name != "Closed" && myEnquiry){  %>

			
			<% if(emailMethod == "gmail"){ %>
			<a href="https://mail.google.com/a/flightcentre.com?view=cm&amp;fs=1&amp;tf=1&amp;source=mailto&amp;to=<%=enquiry.getCustomerEmail() %>&amp;su=RE:%20Online%20Enquiry" class="clsButton" target="_blank" >Email</a>
			<% } else if(emailMethod == "outlook") { %>
			<a href="mailto:<%=enquiry.getCustomerEmail() %>?subject=RE:%20Online%20Enquiry" class="clsButton" target="_blank">email</a>

			<% } else { %>
			<a href="#" class="email clsButton">Email</a>
			<% } %>


			
			<button type="button" class="editEnquiryFinish finishiedButton finished clsButton">Finished</button>
			<%  } else if( enquiry.getResolution() ) {  %>
			<%=enquiry.getResolution().name %>
			<%  }  %>
		</td>
	</tr>
</table>


<div class="full">
	<div class="enquiryText">
		<%= enquiry.getEnqText() %>
		<div class="clr"></div>
	</div>
</div>

<div class="full previousEmails">
	<h2>Previous Emails</h2>
	
</div>

<div class="full">
	<h2>Your Notes</h2>
	<textarea name="notes" class="notes readonly" id="notes" readonly="readonly"><%=enquiry.getNote() %></textarea>
	
	<% if( myEnquiry ){ %>
	<button type="button" class="editButton clsButton">Edit</button>
	<% } %>
</div>