<% for(var i = 0; i < data.length; i++){%>
	<div class="previousEmail">
		<h5>#<%= data[i].id %> - <strong><%= data[i].getEmailSubject() %></strong></h5>
		<div class="details">
			<strong>To: </strong><%=data[i].getEmailToAddress()%>
			<% if(data[i].getEmailCCAddresses().length > 0 ){ %>
			<br /><strong>CC: </strong><%=data[i].getEmailCCAddresses().join(', ')%>
			<% } %>

			<% if(data[i].getEmailBCCAddresses().length > 0 ){ %>
			<br /><strong>BCC: </strong><%=data[i].getEmailBCCAddresses().join(', ')%>
			<% } %>
			
			<% if(data[i].getEmailAttachments().length > 0 ){ %>
			<br /><strong>Attachments: </strong>
			<%=data[i].getEmailAttachmentFiles().join(', ')%>
			<% } %>

		</div>
		<div class="message"><%= data[i].getEmailTitle() %></div>
	</div>
<%}%>