<option value="<%= current.id %>" <%= current %>><%= current.name %></option>
<% $.each( transitions, function( key, value ) { %> 
<option <%= value %> value="<%= value.id %>"><%= value.name %></option>
<% }) %>