<div class="inputForm">
	<form>
		<div class="leftCol">
			<div class="inputField">
				<label for="consultantName">Consultant Name</label>
				<input type="text" name="consultantName" id="consultantName" value="<%= consultantDetails.getName() %>" class="text readonly consultantName" readonly="readonly"></input>
			</div>
			<div class="inputField">
				<label for="consultantEmail">Consultant Email</label>
				<input type="text" name="consultantEmail" id="consultantEmail" value="<%= consultantDetails.getEmail() %>" class="text mail consultantEmail"></input>
			</div>
			<!-- <div class="inputField">
				<label for="consultantName">Store Name</label>
				<input type="text" name="storeName" id="storeName" value="<%= consultantDetails.getStoreName() %>" readonly="readonly" class="text"></input>
			</div>
			<div class="inputField">
				<label for="consultantName">Store Pseudo</label>
				<input type="text" name="storePsuedo" id="storePsuedo" value="<%= consultantDetails.getStorePsuedo() %>" readonly="readonly" class="text"></input>
			</div> -->
		</div>
		<div class="rightCol">
			
		</div>
		<div class="fullCol">
			<label for="consultantSignature" class="title">Signature</label>
			<textarea cols="80" id="consultantSignature" name="consultantSignature" rows="5"><%= consultantDetails.getSignature() %></textarea>
		</div>
		<div class="buttons">
			<input type="button" name="saveButton" class="saveButton button clsButton" value="save"></input>
		</div>
	</form>
</div>
