<% for(var i = 0; i < data.length; i++){%>
	<div class="manageQueue dataItem <% if ( i % 2 == 0) { %>even<% } %>" <%= data[i] %>>
		<div class="name dataCol col1"><%= data[i].getName() %></div>
		<!-- <div class="description dataCol col2"><%= data[i].getDescription() %></div> 
		<div class="status dataCol col3"><%= data[i].getIsActive() %></div>
		-->
		<div class="counts dataCol col4"><%= data[i].getCounts() %></div>
		<div class="buttons buttonCol col5"><button class="edit clsButton" type="button">Edit</button></div>
	</div>
<%}%>